
.sans_delight {
    position:absolute;
    width: 100%;
    height: 50px;
    left:0px;
    top:0px;
    background-color: white;
}

.main{
    position:absolute;
    margin-top: 50px;
    left:0px;
    width: 100%;
    height: auto;
    background-color:black;
}

.racism {
    color: black;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 0px;
}

body {
    color: white;
}